.page-header{
  width: 100vw;
  height: 16vh;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  background: var(--black);
}

.page-header .title-box{
  text-align: center;
  font-size: 3.5rem;
  color: var(--white);
  margin: 10px 0;
}

.container-buttons{
  display: flex;
  justify-content: center;
}

.container-buttons button{
  width: 150px;
  height: 30px;

  font-size: 2rem;

  background: var(--gray);
  border: none;
  margin: 0 40px;
}